$yellow-bg: #fcbc22;
$li-hover-bg-color: #f2ae2f3a;
$li-hover-text-color: #f2ae2f;
@mixin sidebar {
  height: 92vh;
  padding: 0;
  background-color: white;
  overflow: scroll;
  position: relative;
  top: 0;
  ul {
    list-style: none;
    border: 0;
    .profile-figure {
      border-radius: 100%;
      width: 60px;
      height: 60px;
      margin-right: 10px;
    }
    a {
      text-decoration: none;
      color: black;
      i {
        margin-right: 10px;
      }
    }
  }
}
body {
  background-color: #f0f2f5;
}
.ez-navbar {
  background-color: $yellow-bg;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  .navbar-brand {
    font-size: 26px;
  }
  .ez-resbonsive-navbar {
    visibility: hidden;
  }
}
.ez-body {
  .ez-sidebar::-webkit-scrollbar {
    width: 0px;
  }
  #ez-body__left-sidebar {
    @include sidebar();
    #left-sidebar__items {
      padding: 0;
      font-size: larger;
      li {
        padding: 6%;
        border-radius: 10px;
        .badge {
          border-radius: 100%;
          color: white !important;
        }
      }
      li:hover {
        background-color: $li-hover-bg-color;
        a {
          color: $li-hover-text-color;
        }
      }
    }
  }
  #ez-body__center-content {
    .search-bar {
      input {
        width: 100%;
        border: none;
        border-radius: 10px;
        height: 6vh;
        padding-left: 1vw;
      }
    }
    .stories {
      &::-webkit-scrollbar {
        width: 1px;
      }
      &::-webkit-scrollbar-track {
        background: #f1f1f1; 
      }
      &::-webkit-scrollbar-thumb {
        background: #888; 
      }
      
      overflow: scroll;
      .story {
        margin: 8px;
        img {
          border-radius: 10px;
          width: 12vw;
          height: 25vh;
        }
      }
    }
  }
  #ez-body__right-sidebar {
    @include sidebar();
    #right-sidebar__items {
      padding: 3%;
      .suggested-posts {
        .post {
          padding: 3%;
          border-radius: 10px;
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12),
            0 1px 2px rgba(0, 0, 0, 0.24);
          transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
          .posted-by {
            .profile-figure {
              height: 40px;
              width: 40px;
            }
          }
          .post-desc {
            padding-top: 6px;
            font-size: small;
            color: rgb(78, 78, 78);
          }
          .post-img {
            img {
              border-radius: 5px;
            }
          }
        }
      }
      .suggested-peoples {
        .people {
          padding: 3%;
          border-radius: 10px;
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12),
            0 1px 2px rgba(0, 0, 0, 0.24);
          transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
          .people-info {
            .profile-figure {
              width: 50px;
              height: 50px;
            }
            div {
              p {
                font-size: small;
                margin-bottom: 5px;
              }
            }
          }
          button {
            font-size: small;
          }
        }
      }
      .suggested-groups {
        .group {
          padding: 3%;
          border-radius: 10px;
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12),
            0 1px 2px rgba(0, 0, 0, 0.24);
          transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
          .group-info {
            div {
              p {
                font-size: small;
                margin-bottom: 2%;
              }
            }
            button {
              font-size: small;
              padding-left: 25px;
              padding-right: 25px;
            }
          }
        }
      }
    }
  }
}
@media (max-width: 991.98px) {
  .ez-navbar {
    .ez-resbonsive-navbar {
      visibility: visible;
      color: white;
      a {
        text-decoration: none;
        color: white;
      }
      .dropdown-menu {
        background-color: $yellow-bg;
        border: none;
      }
    }
  }
  .ez-body {
    #ez-body__left-sidebar {
      display: none;
    }
    #ez-body__center-content {
      .stories{
        &::-webkit-scrollbar {
          width: 1px;
        }
        &::-webkit-scrollbar-track {
          background: #F0F2F5; 
        }
        &::-webkit-scrollbar-thumb {
          background: #F0F2F5; 
        }
        .story{
          img{
            width: 25vw;
          }
        }
      }
    }
    #ez-body__right-sidebar {
      display: none;
    }
  }
}
