$yellow-bg: #fcbc22;
$li-hover-bg-color: #f2ae2f3a;
$li-hover-text-color: #f2ae2f;

@mixin sidebar {
  height: 100vh;
  padding: 0;
  background-color: white;
  overflow: scroll;
  position: sticky;
  top: 0;

  ul {
    list-style: none;
    border: 0;

    .profile-figure {
      border-radius: 100%;
      width: 60px;
      height: 60px;
      margin-right: 10px;
    }

    a {
      text-decoration: none;
      color: black;

      i {
        margin-right: 10px;
      }
    }
  }
}

body {
  background-color: #f0f2f5;
}

.ez-navbar {
  background-color: $yellow-bg;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;

  .navbar-brand {
    font-size: 26px;
  }

  .right-side {
    position: absolute;
    right: 3vw;

    a {
      color: white;
    }

    ul {
      position: absolute;
      right: 0;
      li {
        padding: 5%;
        border-radius: 10px;

        a {
          color: black;
        }
      }

      li:hover {
        background-color: $li-hover-bg-color;

        a {
          color: $li-hover-text-color;
        }
      }
    }
  }
}

#sideNavbar {
  display: none;

  .close-sidebar {
    height: 7vh;
    width: 7vh;
  }

  ul {
    font-size: x-large;

    li {
      padding: 1%;
    }

    .profile-figure {
      border-radius: 100%;
      width: 50px;
      height: 50px;
      margin-right: 10px;
    }

    a {
      text-decoration: none;
      color: black;

      i {
        margin-right: 10px;
      }
    }
  }
}

.ez-body {
  .ez-sidebar::-webkit-scrollbar {
    width: 0px;
  }

  #ez-body__left-sidebar {
    @include sidebar();

    #left-sidebar__items {
      padding: 0;
      font-size: larger;

      .more-details {
        font-size: small;
        padding: 0;

        ul {
          width: 90%;
          padding-left: 0;
          list-style: none;

          li {
            padding: 5px;
            padding-left: 10px;
          }

          li:nth-child(1) {
            border-top-right-radius: 5px;
            border-top-left-radius: 5px;
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
            background-color: #f9a507;
          }

          li:nth-child(2) {
            border-radius: 0;
            background-color: #f2ae2f;
          }

          li:nth-child(3) {
            border-radius: 0;
            background-color: #ffbf00;
          }

          li:nth-child(4) {
            border-radius: 0;
            background-color: #ffb730;
          }

          li:nth-child(5) {
            b {
              font-size: smaller;
            }

            border-top-right-radius: 0;
            border-top-left-radius: 0;
            border-bottom-right-radius: 5px;
            border-bottom-left-radius: 5px;
            background-color: #f9da23;

            .spacer {
              color: white;
            }
          }

          li:nth-child(6) {
            i {
              padding-right: 0.75vw;
              font-size: large;
            }
          }

          .last-li:hover {
            background-color: white;
          }
        }
      }

      .more-details:hover {
        background-color: white;
      }

      li {
        padding: 6%;
        border-radius: 10px;

        .badge {
          border-radius: 100%;
          color: white !important;
        }
      }

      li:hover {
        background-color: $li-hover-bg-color;

        a {
          color: $li-hover-text-color;
        }
      }
    }
  }

  #ez-body__center-content {
    .profile-cover {
      img {
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
      }
    }

    .search-bar {
      input {
        width: 100%;
        border: none;
        border-radius: 10px;
        height: 6vh;
        padding-left: 1vw;
      }
    }

    .stories {
      &::-webkit-scrollbar {
        height: 10px;
        width: 0;
      }

      &::-webkit-scrollbar-track {
        background: #f1f1f1;
      }

      &::-webkit-scrollbar-thumb {
        border-radius: 10px;
        background: #888;
      }

      overflow: scroll;

      .my-story {
        position: relative;

        i {
          position: absolute;
          top: 44%;
          left: 44%;
          color: #fff;
          font-size: xx-large;
        }
      }

      .add-story-modal {
        .modal-body {
          #story-text {
            border: none;
          }

          #story-img {
            border: none;
          }
        }
      }

      .story {
        margin: 8px;
        position: relative;
        .owner-info {
          position: absolute;
          top: 0.5vh;
          left: 0.5vw;
          .profile-figure {
            width: 35px;
            height: 35px;
          }

          p {
            font-size: small;
          }
        }
        img {
          border-radius: 10px;
          width: 12vw;
          height: 25vh;
        }
      }

      .show-story-modal {
        .modal-dialog {
          margin-top: 10vh;
        }

        .modal-body {
          padding: 0;
          .carousel-control-next,
          .carousel-control-prev {
            top: 2.5vh;
          }
        }
      }
      .show-story-views-modal {
        .people-info {
          .profile-figure {
            width: 50px;
            height: 50px;
          }

          div {
            p {
              font-size: small;
              margin-bottom: 5px;
            }
          }
        }
      }
    }

    .add-post {
      .modal-header {
        border-bottom: 0;
      }
      input {
        border: none;
        border-radius: 10px;
        height: 6vh;
        padding-left: 1vw;
      }

      #post-category,
      #post-privacy {
        border: none;
      }

      #post-text {
        border-radius: 10px;
        border: 0.5px #dee2e6 solid;
      }

      .modal-content {
        border-radius: 10px;
      }
    }

    .settings {
      background-color: white;
      height: 6vh;
      width: 14%;
      border-radius: 10px;
    }

    .settings:hover {
      background-color: $li-hover-bg-color;
    }

    .section-navigator {
      button {
        width: 49%;
        height: 45px;
      }
    }

    .post-container {
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
      transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
      border-radius: 10px;

      .post-owner {
        position: relative;

        b {
          color: black;
        }

        .owner-img {
          img {
            width: 70px;
            height: 70px;
          }
        }

        .owner-name {
          span {
            font-size: smaller;
          }
        }

        .post-option {
          color: #888;
          cursor: pointer;
        }

        .post-options {
          background-color: #fff;
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12),
            0 1px 2px rgba(0, 0, 0, 0.24);
          transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
          border-radius: 10px;
          border-radius: 10px;
          padding: 1.5%;
          position: absolute;
          top: 4vh;
          right: 1.5vw;
          display: none;
          z-index: 99;

          ul {
            padding-left: 0;
            margin-bottom: 0;
            list-style: none;

            li {
              padding-bottom: 2px;
              border-bottom: 0.5px #ccc solid;
              cursor: pointer;
            }

            .last-li {
              border: none;
              padding-bottom: 0;
            }
          }
        }
      }

      .post-advertise-modal {
        select {
          border: 0;
        }
      }

      .post-desc {
        .media {
          img,
          video {
            width: 100%;
          }
        }
      }

      .post-statistics > div > i {
        cursor: pointer;
      }

      .post-comment-list {
        .hide-commnet-list {
          span {
            cursor: pointer;
          }
        }

        .comment {
          position: relative;

          .owner-img {
            img {
              width: 50px;
              height: 50px;
            }
          }

          .owner-name {
            .comment-actions {
              padding: 0;
              list-style: none;
              display: flex;
            }
          }

          b {
            color: black;
          }

          .comment-option {
            color: #888;
            cursor: pointer;
          }

          .comment-options {
            background-color: #fff;
            box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12),
              0 1px 2px rgba(0, 0, 0, 0.24);
            transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
            border-radius: 10px;
            border-radius: 10px;
            padding: 1%;
            position: absolute;
            top: 1vh;
            right: 1.5vw;
            display: none;

            ul {
              padding-left: 0;
              margin-bottom: 0;
              list-style: none;

              li {
                cursor: pointer;
              }
            }
          }
        }
      }

      .add-commnet {
        input {
          border-radius: 5px;
          border-bottom-right-radius: 0;
          border-top-right-radius: 0;
          height: 6vh;
          font-family: "Roboto", sans-serif;
          outline: 0;
          background: #e4e4e4;
          width: 100%;
          border: 0;
          box-sizing: border-box;
          font-size: 14px;
        }

        div {
          height: 6vh;
          background: #e4e4e4;
          border-bottom-right-radius: 5px;
          border-top-right-radius: 5px;

          input {
            display: none;
          }
        }
      }

      .post-edit-modal {
        input {
          border: none;
          border-radius: 10px;
          height: 6vh;
          padding-left: 1vw;
        }

        #post-category,
        #post-privacy,
        #post-text {
          border: none;
        }

        .model-content {
          border-radius: 100px !important;
        }
      }
    }

    .profile-left {
      .container0 {
        height: 100vh;
      }

      .profile-pic {
        img {
          width: 60%;
          border-radius: 10px;
        }
      }

      .edit-profile-pic {
        i {
          margin-top: -1000px;
        }
      }

      .user-details {
        p {
          margin-bottom: 5px;
        }

        span {
          color: #888;
        }
      }

      .more-details {
        ul {
          width: 80%;
          padding-left: 0;
          list-style: none;

          li {
            padding: 5px;
          }

          li:nth-child(1) {
            border-top-right-radius: 5px;
            border-top-left-radius: 5px;
            background-color: #f9a507;
          }

          li:nth-child(2) {
            background-color: #f2ae2f;
          }

          li:nth-child(3) {
            background-color: #ffbf00;
          }

          li:nth-child(4) {
            background-color: #ffb730;
          }

          li:nth-child(5) {
            border-bottom-right-radius: 5px;
            border-bottom-left-radius: 5px;
            background-color: #f9da23;

            .spacer {
              color: white;
            }
          }

          li:nth-child(6) {
            i {
              padding-right: 8px;
              font-size: xx-large;
            }
          }
        }
      }
    }
    .services-controller {
      .ez-active {
        background-color: $yellow-bg;
        color: white;
      }
    }
    .services-container {
      .service {
        width: 23%;
        border-radius: 10px;
        border-bottom: 1px solid #f2ae2f;
        .card-body {
          .card-text {
            color: #f2ae2f;
          }
        }
      }
      .modal {
        margin-top: 5vh;
        .modal-dialog {
          max-width: 65vw;
        }
        .modal-header {
          border-bottom: 0;
        }
        .modal-body {
          h6 {
            text-decoration: underline;
          }
          .people {
            display: flex;
            justify-content: space-between;
            align-items: center;
            .people-info {
              .profile-figure {
                width: 50px;
                height: 50px;
              }

              div {
                p {
                  font-size: small;
                  margin-bottom: 5px;
                }
              }
            }

            button {
              font-size: small;
            }
          }
          .img-container {
            img {
              max-height: 65vh;
              min-width: 100%;
            }
          }
        }
      }
    }
  }

  .profile-center-content {
    padding-right: 0;

    .people {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 3%;
      border-radius: 10px;
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
      transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);

      .people-info {
        .profile-figure {
          width: 50px;
          height: 50px;
        }

        div {
          p {
            font-size: small;
            margin-bottom: 5px;
          }
        }
      }

      button {
        font-size: small;
      }
    }
  }

  #ez-body__right-sidebar {
    @include sidebar();

    #right-sidebar__items {
      padding: 3%;

      .suggested-posts {
        .post {
          padding: 3%;
          border-radius: 10px;
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12),
            0 1px 2px rgba(0, 0, 0, 0.24);
          transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);

          .posted-by {
            .profile-figure {
              height: 40px;
              width: 40px;
            }
          }

          .post-desc {
            padding-top: 6px;
            font-size: small;
            color: rgb(78, 78, 78);
          }

          .post-img {
            img {
              border-radius: 5px;
            }
          }
        }
      }

      .suggested-peoples {
        .people {
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 3%;
          border-radius: 10px;
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12),
            0 1px 2px rgba(0, 0, 0, 0.24);
          transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);

          .people-info {
            .profile-figure {
              width: 50px;
              height: 50px;
            }

            div {
              p {
                font-size: small;
                margin-bottom: 5px;
              }
            }
          }

          button {
            font-size: small;
          }
        }
      }

      .suggested-groups {
        .group {
          padding: 3%;
          border-radius: 10px;
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12),
            0 1px 2px rgba(0, 0, 0, 0.24);
          transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);

          .group-info {
            display: flex;
            justify-content: space-between;
            align-items: center;

            div {
              p {
                font-size: small;
                margin-bottom: 2%;
              }
            }

            button {
              font-size: small;
              padding-left: 25px;
              padding-right: 25px;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 991.98px) {
  .ez-navbar {
    .ez-resbonsive-navbar {
      visibility: visible;
      color: white;

      a {
        text-decoration: none;
        color: white;
      }

      .dropdown-menu {
        background-color: $yellow-bg;
        border: none;
      }
    }
  }

  .ez-body {
    #ez-body__left-sidebar {
      display: none;
    }

    #ez-body__center-content {
      .stories {
        &::-webkit-scrollbar {
          height: 0;
        }

        .story {
          img {
            width: 25vw;
          }
        }
      }
      .services-container {
        .service {
          width: 31%;
        }
        .service-modal {
          margin-top: 2.5vh;
          .modal-dialog {
            max-width: 95vw;
            margin: 1rem;
          }
        }
      }
    }

    #ez-body__right-sidebar {
      display: none;
    }
  }
}

@media (max-width: 768px) {
  .ez-body {
    #ez-body__center-content {
      .services-container {
        .service {
          width: 31%;
        }
        .service-modal {
          .modal-body {
            display: flex;
            flex-direction: column-reverse;
            .img-container {
              max-width: 100%;
              img {
                max-height: 50vh;
              }
            }
            .description {
              display: flex;
              min-width: 100%;
            }
          }
        }
      }
    }
  }
}

@media (min-width: 768px) and (max-width: 1199.98px) {
  .ez-body {
    font-size: smaller;

    #ez-body__left-sidebar {
      #left-sidebar__items:first-child {
        margin-top: 15px;

        .profile-figure {
          width: 50px;
          height: 50px;
        }

        span {
          font-size: medium;
        }
      }
    }

    #ez-body__center-content {
      .stories {
        &::-webkit-scrollbar {
          height: 8px;
        }
      }
    }

    #ez-body__right-sidebar {
      #right-sidebar__items {
        h6 {
          font-size: small;
        }

        .suggested-peoples {
          .people {
            display: flex;
            flex-wrap: wrap;

            .people-info {
              .profile-figure {
                margin-top: 0;
              }

              div {
                p {
                  margin-top: 1px;
                  margin-bottom: 0px;
                }
              }
            }

            button {
              margin: 2px auto 0 auto;
            }
          }
        }

        .suggested-groups {
          .group {
            .group-info {
              display: flex;
              flex-wrap: wrap;
              justify-content: center;
            }
          }
        }
      }
    }
  }
}
